h1 {
  color: #0b3f67;
}

.add-delete-buttons {
  justify-content: space-between;
}
.add-delete-buttons button {
  background-color: #0b3f67;
  color: #fff;
  height: 55px;
  width: 9rem;
  display: flex;
  justify-content: space-around;
}

.add-delete-buttons button:hover {
  color: #0b3f67;
  background-color: #fff;
}

.year-month-dropdowns {
  color: #0b3f67;
  font-weight: bold;
}
.year-month-dropdowns .dropdown-toggle {
  height: 25px;
  padding: 0;
}

thead {
  background-color: #c9d4de;
}
th {
  color: #0b3f67;
}

.services-list {
  font-size: 1rem;
}

@media (min-width: 2560px) {
  .customers h1 {
    padding-top: 100px;
    font-size: 5rem;
  }

  .add-delete-buttons button {
    height: 80px;
    font-size: 2rem;
  }

  .year-month-dropdowns label,
  .year-month-dropdowns select {
    font-size: 2rem;
  }

  .year-month-dropdowns .dropdown-toggle {
    height: 50px;
  }

  .year-month-dropdowns option {
    font-size: 1rem !important;
  }

  .add-del-month-year {
    padding: 40px 0;
  }

  .customers table {
    font-size: 2rem;
  }

  .services-list {
    font-size: 2rem;
  }

  .customer-amount {
    padding: 30px 0;
  }

  .customer-amount h5 {
    font-size: 2.5rem;
  }

  .del-selected {
    height: 60px !important;
    font-size: 2rem;
  }

  .account-section {
    font-size: 2rem;
  }

  .account-section h1 {
    font-size: 5rem;
    padding: 50px 0;
  }

  .account-section li,
  .users-list {
    font-size: 2rem;
  }
}
